<!DOCTYPE html>
<html>
<head>
  <title>Infographics</title>
  <link rel="stylesheet" href="/static/webreceiver/css/bulma.css" />
  <link rel="stylesheet" href="/static/webreceiver/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/webreceiver/css/toggle.css">
  <script
  src="/static/webreceiver/js/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  <script src="/static/webreceiver/js/sorttable.js"></script>
</head>
<body>

<style type="text/css">
  .fix-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    overflow: hidden;
}
</style>

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Accumulated data
      </h1>
    </div>
  </div>
</section>

<div class='section'>
<div class='container'>
  <center> <div> User list </div> </center>
  <table class="table is-bordered is-striped is-fullwidth sortable">
      <tr>
        <th>User ID</th>
        <th>Promise ID</th>
        <th>Debted</th>
        <th>Paid</th>
      </tr>
      {% for user in user_list %}
      <tr>
        <td><p>{{ user.userid }}</p></td>
        <td><p>{{ user.promises }}</p></td>
        <td><p>{{ user.debted }}</p></td>
        <td><p>{{ user.paid }}</p></td>
       </tr>
      {% endfor %}
    </table>
  
  <center> <div> Promise list </div> </center>
  <table class="table is-bordered is-striped is-fullwidth sortable">
      <tr>
        <th>Promise ID</th>
        <th>Owner</th>
        <th>Description</th>
        <th>Metrics</th>
        <th>Category</th>
        <th>Wallpub</th>
        <th>Storypub</th>
        <th>Expdate</th>
        <th>Issuedate</th>
        <th>Transactions</th>
      </tr>
      {% for promise in promise_list %}
      <tr>
        <td><p>{{ promise.promiseid }}</p></td>
        <td><p>{{ promise.userid }}</p></td>
        <td><p>{{ promise.description }}</p></td>
        <td><p>{{ promise.metrics }}</p></td>
        <td><p>{{ promise.category }}</p></td>
        <td><p>{{ promise.wall_pub }}</p></td>
        <td><p>{{ promise.story_pub }}</p></td>
        <td><p>{{ promise.exp_date }}</p></td>
        <td><p>{{ promise.pub_date }}</p></td>
        <td><p>{{ promise.transactions }}</p></td>
       </tr>
      {% endfor %}
    </table>

  <center> <div> Payment list </div> </center>
  <table class="table is-bordered is-striped is-fullwidth sortable">
      <tr>
        <th>Payment ID</th>
        <th>Sender</th>
        <th>Promise ID</th>
        <th>Amount</th>
      </tr>
      {% for payment in payment_list %}
      <tr>
        <td><p>{{ payment.paymentid }}</p></td>
        <td><p>{{ payment.sender }}</p></td>
        <td><p>{{ payment.promiseid }}</p></td>
        <td><p>{{ payment.amount }}</p></td>
       </tr>
      {% endfor %}
    </table>

<div class="modal is-not-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Report details</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
    </section>
    <footer class="modal-card-foot"></footer>
  </div>
</div>
</div>
</div>

</body>
</html>
