.no-padding {
    padding: 0 !important;
}

.Group--ios {
    margin: 0;
}

.Group--ios::before, .Group--ios::after {
    display: none;
}

.Div--ios {
    padding: 0;
    width: 100%;
}

.Tabs--ios.Tabs--default.Tabs--header {
    padding-top: 0;
}

.Tabs {
    background-color: grey;
}

.Tabs--ios.Tabs--default .TabsItem:first-child,
.Tabs--ios.Tabs--default .TabsItem:last-child {
    border-radius: 0;
}

.Header__content {
    z-index: 5;
}

.FormLayout--ios .FormLayout__row .Checkbox:first-child, .FormLayout--ios .FormLayout__row .Radio:first-child, .FormLayout--ios .FormLayout__row .Cell:first-child, .FormLayout--ios .FormLayout__row .CellButton:first-child {
    margin-top: 1px;
}

.FormLayout--ios .FormLayout__row .Checkbox:last-child, .FormLayout--ios .FormLayout__row .Radio:last-child, .FormLayout--ios .FormLayout__row .Cell:last-child, .FormLayout--ios .FormLayout__row .CellButton:last-child {
    margin-bottom: 0;
}

.List .Cell--ios:not(:last-child) .Cell__in:not(.Tappable--active) .Cell__before::before {
    display: none;
}

.InfoRow__title div {
    display: flex;
    flex-wrap: wrap;
}

.List .Cell {
    background: white;
    margin-bottom: 8px;
}

.Group__content {
    padding: 0 12px 12px;
}