.no-padding {
    padding: 0 !important;
}

.Group--ios {
    margin: 0;
}

.Group--ios::before, .Group--ios::after {
    display: none;
}

.Div--ios {
    padding: 0;
}

.Tabs--ios.Tabs--default.Tabs--header {
    padding-top: 0;
}

.Tabs {
    background-color: grey;
}

.Tabs--ios.Tabs--default .TabsItem:first-child,
.Tabs--ios.Tabs--default .TabsItem:last-child {
    border-radius: 0;
}

.Header__content {
    z-index: 5;
}

.FormLayout--ios .FormLayout__row .Checkbox:first-child {
    margin-top: 0;
}