.List {
    background: rgb(237, 238, 240);
    padding: 8px;
}

.promises .Panel--tm-white .Panel__in,
.promises .Panel--tm-white::after,
.promises > .Panel__in{
    background: rgb(237, 238, 240);
}